<%= form_with model: @list, local: true do |f| %>
  <label for="title">リスト名</label>
  <%= f.text_field :title, id: "title" %>
  <label for="about">概要</label>
  <%= f.text_area :about, id: "about" %>
  <%= f.submit "更新" %>
<% end %>

<% @list.add_words.each do |add_word| %>
  問<%= add_word.word.question %>
  答え<%= add_word.word.answer %>
  解説<%= add_word.word.description %>
<% end %>

<%= form_with(model: [@list,@createWord], local: true) do |f| %>
  <label for="question">問題</label>
  <%= f.text_area :question, id: "question" %>
  <label for="answer">解答</label>
  <%= f.text_field :answer, id: "answer" %>
  <label for="description">解説</label>
  <%= f.text_area :description, id: "description" %>
  <%= f.submit "単語登録" %>
<% end %>