<div class="container my-5">
  <div class="offset-md-2 col-md-8">
    <div class="card mb-3">
      <div class="card-header">
        単語数：<%= @list.add_words.count %>
      </div>
      <div class="card-body">
        <%= form_with model: @list do |f| %>
          <div class="field mb-2">
            <%= f.text_field :title, id: "title", class: "form-control" %>
          </div>
          <div class="field">
            <%= f.text_area :about, id: "about", class: "form-control" %>
          </div>
          <div class="row mt-3">
            <p class="btn-group col-lg-6 col-md-12" data-toggle="buttons">
              <label class="btn btn-outline-secondary m-0" >
                <%= f.radio_button :public_status, '1', {} %> 公開
              </label>
              <label class="btn btn-outline-secondary m-0">
                <%= f.radio_button :public_status, '0', {} %> 非公開
              </label>
            </p>
            <div class="field col-lg-6 col-md-12">
              <p class="text-center"><%= f.submit "更新", class: "btn btn-success text-center w-100" %></p>
            </div>
          </div>
        <% end %>
        <div class="tagFormZone">
          <%= render "layouts/tag_form", list: @list, createTag: @createTag %>
        </div>
      </div>
      <div class="card-footer text-muted">
        Created by <%= @list.user.name %>
      </div>
    </div>

    <div class="wordFormZone">
      <%= render "layouts/word_form", list: @list, createWord: @createWord, words: @words %>
    </div>

    <div class="card mx-auto">
      <div class="card-header">
        Comments.(<%= @list.comments.count %>)
      </div>
      <ul class="list-group list-group-flush">
        <% if user_signed_in? %>
          <li class="list-group-item">
            <%= form_with(model: [@list, @createComment], local:true) do |f| %>
              <%= f.text_area :comment, id: "comment", placeholder: "コメントフォーム", class: "form-control mb-4" %>
              <p class="text-center"><%= f.submit "投稿", class: "btn btn-outline-secondary w-50"%></p>
            <% end %>
          </li>
        <% end %>
        <% count = 0 %>
        <% @list.comments.each do |comment| %>
          <% count = count.succ %>
          <li class="list-group-item">
            <%= count %>.<br>
            <%= comment.comment %><br>
            From: <%= comment.user.name %>
            <%= link_to list_comment_path(list_id: params[:id], id: comment.id), method: :delete do %>
              <i class="fas fa-trash-alt text-secondary"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
