<div class="container my-5">
  <div class="offset-md-2 col-md-8">
    <div class="card mb-3">
      <div class="card-header">
        単語数：<%= @list.add_words.count %>
      </div>
      <div class="card-body">
        <%= form_with model: @list, local: true do |f| %>
          <div class="field mb-2">
            <%= f.text_field :title, id: "title", class: "form-control" %>
          </div>
          <div class="field">
            <%= f.text_area :about, id: "about", class: "form-control" %>
          </div>
          <div class="row mt-3">
            <p class="btn-group col-6" data-toggle="buttons">
              <label class="btn btn-outline-secondary m-0" >
                <%= f.radio_button :public_status, '1', {} %> 公開
              </label>
              <label class="btn btn-outline-secondary m-0">
                <%= f.radio_button :public_status, '0', {} %> 非公開
              </label>
            </p>
            <div class="field col-6">
              <p class="text-center"><%= f.submit "更新", class: "btn btn-success text-center w-100" %></p>
            </div>
          </div>
        <% end %>
        <div>
          <span class="mb-2">タグ：</span>
          <% @list.tags.each do |tag| %>
            <%= link_to list_tag_taggings_path(list_id: params[:id], tag_id: tag.id), method: :delete, class: "btn btn-sm btn-outline-dark mb-2" do %>
              <%= tag.tag %> <i class="far fa-times-circle"></i>
            <% end %>
          <% end %>
        </div>
        <%= form_with(model: [@list,@createTag], local: true) do |f| %>
          <div class="d-flex">
            <%= f.text_field :tag, placeholder: "タグを追加", class: "form-control" %>
            <%= button_tag type:"submit", class: "btn btn-outline-secondary" do %>
              <i class="fas fa-plus"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="card-footer text-muted">
        Created by <%= @list.user.name %>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        単語追加
      </div>
      <div class="card-body">
        <%= form_with(model: [@list,@createWord], local: true) do |f| %>
          <div class="field p-2">
            <label for="question">問題</label>
            <%= f.text_area :question, id: "question", placeholder: "問題", class: "form-control" %>
          </div>
          <div class="field p-2">
              <label for="answer">解答</label>
              <%= f.text_field :answer, id: "answer", placeholder: "解答", class: "form-control" %>
          </div>
          <div class="field p-2">
            <label for="description">解説</label>
            <%= f.text_area :description, id: "description", placeholder: "解説", class: "form-control" %>
          </div>
          <div class="field mt-4">
            <p class="text-center"><%= f.submit "単語登録", class: "btn btn-outline-secondary w-50" %></p>
          </div>
        <% end %>
      </div>
    </div>
    <% count = 0 %>
    <% @words.each do |word| %>
      <% count = count.succ %>
      <div class="card mb-3">
        <div class="card-header">
          <ul class="nav card-header-tabs">
            <li class="favoriteBtnZone<%= word.id %> nav-item ml-auto">
              <%= render "favorites/favorite_btn", word: word %>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <%= form_with(model: [@list,word], local: true) do |f| %>
            <div class="field p-2">
              <label for="question">問題</label>
              <%= f.text_area :question, id: "question", class: "form-control" %>
            </div>
            <div class="field p-2">
              <label for="answer">解答</label>
              <%= f.text_field :answer, id: "answer", class: "form-control" %>
            </div>
            <div class="field p-2">
              <label for="description">解説</label>
              <%= f.text_area :description, id: "description", class: "form-control" %>
            </div>
            <div class="field mt-4">
              <p class="text-center"><%= f.submit "単語登録", class: "btn btn-outline-secondary w-50" %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="card mx-auto">
      <div class="card-header">
        Comments.(<%= @list.comments.count %>)
      </div>
      <ul class="list-group list-group-flush">
        <% if user_signed_in? %>
          <li class="list-group-item">
            <%= form_with(model: [@list, @createComment], local:true) do |f| %>
              <%= f.text_area :comment, id: "comment", placeholder: "コメントフォーム", class: "form-control mb-4" %>
              <p class="text-center"><%= f.submit "投稿", class: "btn btn-outline-secondary w-50"%></p>
            <% end %>
          </li>
        <% end %>
        <% count = 0 %>
        <% @list.comments.each do |comment| %>
          <% count = count.succ %>
          <li class="list-group-item">
            <%= count %>.<br>
            <%= comment.comment %><br>
            From: <%= comment.user.name %>
            <%= link_to list_comment_path(list_id: params[:id], id: comment.id), method: :delete do %>
              <i class="fas fa-trash-alt text-secondary"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
