<div class="container p-0 mb-5">
  <div class="offset-md-2 col-md-8">
    <div class="card text-center my-5">
      <div class="card-body">
        <h5 class="card-title"><%= @list.title %></h5>
        <p>
          <% if params[:page] %>
            <%= params[:page] %>
          <% else %>
            1
          <% end %>
          /
          <%= @list.words.count %>
        </p>
        <div class="mylistBtnZone<%= @list.id %>">
          <%= render "mylists/mylist_btn", list: @list %>
        </div>
      </div>
    </div>

    <% @words.each.with_index(1) do |word, i| %>
      <div class="questionZone">
        <%= render "layouts/question", word: word, i: i %>
      </div>
    <% end %>
  </div>
  <div class="col-12 d-flex">
    <div class="justify mx-auto"><%= paginate @words, window: 2 %></div>
  </div>
</div>
