<%= form_with model: @user, url: updateinfo_path, local:true do |f| %>
  <label for="inputName">ユーザーネーム</label>
  <%= f.text_field :name, autofocus: true, id: "inputName", placeholder: "ユーザーネーム"%>
  <label for="InputEmail">E-mail</label>
  <%= f.email_field :email, autofocus: true, id: "inputEmail", placeholder: "E-mail"%>
  <%= f.submit "変更" %>
<% end %>

<%= link_to 'パスワードを変更する', edit_user_registration_path %>