<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-brand border px-3">
    <%= link_to root_path, class: "text-decoration-none" do %>
      <div class="text-white"> Anquiz </div>
    <% end %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <% if user_signed_in? %>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <%= link_to mypage_path, class: "btn text-light nav-link" do %>
            <i class="fas fa-user"></i> マイページ
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "btn text-light nav-link" do %>
            <i class="fas fa-sign-out-alt"></i> ログアウト
          <% end %>
        </li>
      </ul>
      <%= form_with url: search_path, local: :true, method: :get do |f| %>
        <div class="form-group d-lg-flex my-auto">
          <div class="mr-1">
            <%= f.search_field :keyword, placeholder: "全体検索", class: "form-control" %>
          </div>
          <div class="d-flex justify-content-center">
            <div class="my-auto mr-1">
              <%= button_tag type: 'submit', value: :search_list, class: "btn btn-outline-success" do %>
                <span><i class="fas fa-search"></i> リスト検索</span>
              <% end %>
            </div>
            <div class="my-auto mr-1">
              <%= button_tag type: 'submit', value: :search_tag, class: "btn btn-outline-success" do %>
                <span>タグ検索</span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% elsif admin_signed_in? %>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <%# <li class="nav-item"> %>
          <%# link_to 'トップページ', admins_path, class: "btn text-light" %>
        <%# </li> %>
        <li class="nav-item">
          <%= link_to 'リスト一覧', admins_lists_path, class: "btn text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to 'ユーザー一覧', admins_end_users_path, class: "btn text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to 'タグ一覧', admins_tags_path, class: "btn text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn text-light" %>
        </li>
      </ul>
      <%= form_with url: search_path, local: :true, method: :get do |f| %>
        <div class="form-group d-lg-flex my-auto">
          <div class="mr-1">
            <%= f.search_field :keyword, placeholder: "全体検索", class: "form-control" %>
          </div>
          <div class="d-flex justify-content-center">
            <div class="my-auto mr-1">
              <%= button_tag type: 'submit', value: :search_list, class: "btn btn-outline-success" do %>
                <span><i class="fas fa-search"></i> リスト検索</span>
              <% end %>
            </div>
            <div class="my-auto mr-1">
              <%= button_tag type: 'submit', value: :search_tag, class: "btn btn-outline-success" do %>
                <span>タグ検索</span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "btn text-light" do %>
            <i class="fas fa-sign-in-alt"></i> ログイン
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_registration_path, class: "btn text-light" do %>
            <i class="fas fa-user-plus"></i> サインアップ
          <% end %>
        </li>
      </ul>
      <%= form_with url: search_path, local: :true, method: :get do |f| %>
        <div class="form-group d-lg-flex my-auto">
          <div class="mr-1">
            <%= f.search_field :keyword, placeholder: "全体検索", class: "form-control" %>
          </div>
          <div class="d-flex justify-content-center">
            <div class="my-auto mr-1">
              <%= button_tag type: 'submit', value: :search_list, class: "btn btn-outline-success" do %>
                <span><i class="fas fa-search"></i> リスト検索</span>
              <% end %>
            </div>
            <div class="my-auto mr-1">
              <%= button_tag type: 'submit', value: :search_tag, class: "btn btn-outline-success" do %>
                <span>タグ検索</span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</nav>