<!DOCTYPE html>
<html>
  <head>
    <title>Anquiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar bg-dark">
      <div class="container-fluid">
        <div class="navbar-brand border px-3">
          <%= link_to root_path, class: "text-decoration-none" do %>
            <div class="text-white"> Anquiz </div>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <%= form_with url: search_path, local: :true, method: :get do |f| %>
            <div class="form-group row my-auto">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-outline-secondary m-0 active" >
                  <%= f.radio_button :model, :search_list, {checked: true} %> リスト名
                </label>
                <label class="btn btn-outline-secondary m-0">
                  <%= f.radio_button :model, :search_tag, {} %> タグ
                </label>
              </div>
              <div class="mx-2">
                <%= f.search_field :keyword, placeholder: "全体検索", class: "form-control" %>
              </div>
              <div class="my-auto">
                <%= button_tag type: 'submit', class: "btn btn-outline-success" do %>
                  <span>　<i class="fas fa-search"></i>　</span>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="text-light">ようこそ、<%= current_user.name %>さん</div>
          <div>
            <%= link_to mypage_path, class: "btn text-light" do %>
              <i class="fas fa-user"></i> マイページ
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: "btn text-light" do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </div>
        <% elsif admin_signed_in? %>
          <div class="row">
            <%= link_to 'トップページ', admins_path, class: "btn text-light" %>
            <%= link_to 'リスト一覧', admins_list_index_path, class: "btn text-light" %>
            <%= link_to 'ユーザー一覧', admins_end_user_index_path, class: "btn text-light" %>
            <%= link_to 'タグ一覧', admins_tag_index_path, class: "btn text-light" %>
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "btn text-light" %>
          </div>
        <% else %>
          <%= form_with url: search_path, local: :true, method: :get do |f| %>
            <div class="form-group row my-auto">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-outline-secondary m-0 active" >
                  <%= f.radio_button :model, :search_list, {checked: true} %> リスト名
                </label>
                <label class="btn btn-outline-secondary m-0">
                  <%= f.radio_button :model, :search_tag, {} %> タグ
                </label>
              </div>
              <div class="mx-2">
                <%= f.search_field :keyword, placeholder: "全体検索", class: "form-control" %>
              </div>
              <div class="my-auto">
                <%= button_tag type: 'submit', class: "btn btn-outline-success" do %>
                  <span>　<i class="fas fa-search"></i>　</span>
                <% end %>
              </div>
            </div>
          <% end %>
          <div>
            <%= link_to new_user_session_path, class: "btn text-light" do %>
              <i class="fas fa-sign-in-alt"></i> ログイン
            <% end %>
            <%= link_to new_user_registration_path, class: "btn text-light" do %>
              <i class="fas fa-user-plus"></i> サインアップ
            <% end %>
          </div>
        <% end %>
      </div>
    </nav>
    <%= yield %>
    <footer class="footer bg-dark col-md-12">
      <p class="text-center text-light p-4">Anquiz</p>
    </footer>
  </body>
</html>